<!DOCTYPE html>
<html>
  <head>
    <title>Cms Administration</title>
    <%= stylesheet_link_tag 'main', 'admin', 'jquery-ui/jquery-ui-1.8.14.custom' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
    <%= javascript_include_tag 'jquery-ui/jquery-ui-1.8.14.custom.min' %>
    <%= javascript_include_tag 'rails', 'admin' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%#= show_debug_info if DEBUG %>
    <%= render 'admin/shared/shortcut_menu' if current_user %>
    <h1><%= I18n.t(params[:controller]) %></h1>
    <%= yield %>

  </body>
</html>
